<p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :standard_price %><br />
    <%= f.text_field :standard_price %> kr
  </p>
  <p>
    <%= f.label :crew_price %><br />
    <%= f.text_field :crew_price %> kr
  </p>