<li>
  <%= f.label :name, t('product_type.name') %>
  <%= f.text_field :name %>
</li>
<li>
  <%= f.label :description, t('product_type.description') %>
  <%= f.text_area :description, :rows => 3 %>
</li>
<li>
  <%= f.label :purchase_price, t('product_type.purchase_price') %>
  <%= f.text_field :purchase_price %> kr
</li>
<li>
  <%= f.label :standard_price, t('product_type.standard_price') %>
  <%= f.text_field :standard_price %> kr
</li>
<li>
  <%= f.label :crew_price, t('product_type.crew_price') %>
  <%= f.text_field :crew_price %> kr
</li>
<li class="explanation">
  <%= t('product_type.decimalinfo') %>
</li>