<h1><%= t('.title', :name => @product_type.name) %></h1>

<% form_for(@product_type) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => { :f => f } %>
  
  <p>
    <%= f.submit t('Update') %>
  </p>
<% end %>

&larr; <%= link_to t('Back'), product_types_path %> <%= t('or') %>
<%= link_to t('Show'), @product_type %>