<h1><%= t('.title') %> <%= h @product_type.name %></h1>

<% form_for(@product_type) do |f| %>
  <%= f.error_messages %>

  <ol>
  
    <%= render :partial => 'form', :locals => { :f => f } %>

    <li>
      <%= f.submit t('Create') %>
    </li>
  
  </ol>
  
<% end %>

&larr; <%= link_to t('Back'), product_types_path %> <%= t('or') %>
<%= link_to t('Show'), @product_type %>