<h1>Editing <%= controller.controller_name.humanize.singularize.downcase %></h1>

<% form_for(@product_type) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => { :f => f } %>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to t('Show'), @product_type %> |
&larr; <%= link_to t('Back'), product_types_path %>