<h1><%= t('.title') %></h1>

<table class="index_table">
  <tr>
    <th><%= t('product_type.name') %></th>
    <th><%= t('product_type.combination') %>?</th>
    <th class="quantity"><%= t('product_type.in_stock') %></th>
    <th class="quantity"><%= t('product_type.sold') %></th>
    <th class="money"><%= t('product_type.standard_price') %></th>
    <th class="money"><%= t('product_type.crew_price') %></th>
    <th class="money"><%= t('product_type.purchase_price') %></th>
    <th class="money"><%= t('product_type.profit') %></th>
  </tr>

<% @product_types.each do |product_type| %>
  <tr class="<%= cycle :odd, :even %>">
    <td><%= link_to h(product_type.name), product_type %></td>
    <td><%= "Ja" unless product_type.children.empty? %></td>
    <td class="quantity"><%= product_type.quantity_in_stock %></td>
    <td class="quantity"><%= product_type.quantity_sold %></td>
    <td class="money"><%= number_to_currency product_type.standard_price %></td>
    <td class="money"><%= number_to_currency product_type.crew_price %></td>
    <td class="money">
      <% if product_type.is_combo? %>
        <%= number_to_currency product_type.combo_purchase_price %>
      <% else %>
        <%= number_to_currency product_type.purchase_price %>
      <% end %>
    </td>
    <td class="money"><%= number_to_currency product_type.profit %></td>
    <td class="edit"><%= link_to t('Edit'), edit_product_type_path(product_type) %></td>
    <td class="destroy"><%= link_to t('Destroy'), product_type, :confirm => t('Are you sure?'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "#{t('New')} #{ProductType.human_name}", new_product_type_path %>