<h1><%= t('.title') %></h1>

<% if @product_types.empty? %>
  
  <p>
    <%= t('.no_product_types') %>
  </p>
  
<% else %>

	<% if logged_in? %>

		<%= render :partial => 'authed_table', :locals => { :product_types => @product_types} %>
		
	<% else %>

		<%= render :partial => 'non_authed_table', :locals => { :product_types => @product_types} %>
		
	<% end %>

<% end %>

<% if logged_in? %>
	<br />
	<%= link_to t('.new_product_type'), new_product_type_path %>
<% end %>