<h1><%= t('product_types.new') %></h1>

<% form_for(@product_type) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => { :f => f } %>

  <p>
    <%= f.submit t('Create') %>
  </p>
<% end %>

&larr; <%= link_to t('Back'), product_types_path %>