<h1><%= t('.title') %></h1>

<% form_for(@product_type) do |f| %>
  <%= f.error_messages %>
  
  <ol>
  
    <%= render :partial => 'form', :locals => { :f => f } %>

    <li>
      <%= f.submit t('Create') %>
    </li>
  
  </ol>
<% end %>

&larr; <%= link_to t('All Product Types'), product_types_path %>