<h1><%= t('.title') %> <%= h @product_type.name %></h1>

<p>
  <%- if @product_type.description.empty? -%>
    <%= t('.no_description') %>
  <%- else -%>
    <b><%= t('product_type.description') %>:</b>
    <%=h @product_type.description %>
  <%- end -%>
</p>

<h2><%= t('.in_stock_subtitle') %>:</h2>

<table>
  <tr>
    <th><%= t('.purchased') %>:</th>
    <td class="quantity"><%= @product_type.products.size %></td>
  </tr>
  <tr>
    <th><%= t('.in_stock') %>:</th>
    <td class="quantity"><%= @product_type.quantity_in_stock %></td>
  </tr>
  <tr>
    <th><%= t('.sold') %>:</th>
    <td class="quantity"><%= @product_type.quantity_sold %></td>
  </tr>
</table>

<h2><%= t('.prices_and_profit_subtitle') %>:</h2>

<table id="product_type_price_table">
  <tr>
    <th><%= t('product_type.standard_price') %>:</th>
    <td class="money"><%= number_to_currency @product_type.standard_price %></td>
  </tr>
<!--
  <tr>
    <th><%= t('product_type.crew_price') %>:</th>
    <td class="money"><%= number_to_currency @product_type.crew_price %></td>
  </tr>
-->
  <tr>
    <th><%= t('product_type.purchase_price') %>:</th>
    <td class="money"><%= number_to_currency @product_type.purchase_price %></td>
  </tr>
  <tr>
    <th><%= t('product_type.profit') %>:</th>
    <td class="money"><%= number_to_currency @product_type.profit %></td>
  </tr>
</table>

<% unless @product_type.children.size > 0 || @product_type.parents.uniq.size > 0 %>

<p>
  <%= t('.buy_cost_text', :money => number_to_currency(@product_type.products.size * @product_type.purchase_price), :count => @product_type.products.size, :type => @product_type.name ) %>
</p>

<!--

<p>
  So far have we sold <%= @product_type.quantity_sold %> and that amounts for <%= number_to_currency(@product_type.quantity_sold * @product_type.purchase_price) %>. 
  That makes a <%= number_to_currency(@product_type.quantity_sold * @product_type.profit) %> profit. 
</p>

<p>
  We need to sell for at least <%= number_to_currency((@product_type.products.size * @product_type.purchase_price) - (@product_type.quantity_sold * @product_type.profit)) %> to reach break-even for the <%=h @product_type.name %>s.
</p>

<p>
  If we sell all remaining <%= @product_type.quantity_in_stock %> <%=h @product_type.name %>s we can get a total of <%= number_to_currency(@product_type.products.size * @product_type.standard_price) %>, which makes a total profit of <%= number_to_currency(@product_type.products.size * @product_type.profit) %>
</p>
-->

<%- end -%>

<!--

<h2><%= t('.special_offers') %>:</h2>

<% if @product_type.children.size > 0 %>
  <p>Detta specialerbjudande består av följande 
  <% if @product_type.children.size > 1 %>
    <%#= @product_type.children.size %> produkter:
  <% else %>
    produkt:
  <% end %>
  </p>

	<% for product_type_relation in @product_type.childings %>
		<%= link_to t('.remove_relation', :item => @product_type.name), product_type_relation, { :confirm => t('Are you sure?'), :method => :delete, :class => 'product_type_relation_remove_link' } %>
		<%= render :partial => 'tree', :locals => { :product_type => product_type_relation.child }%>
	<% end %>
  
<% end %>
<% if @product_type.parents.uniq.size > 0 %>
  Denna produkt är en del i följande 
  <% if @product_type.parents.uniq.size > 1 %>
    <%= @product_type.parents.uniq.size %> specialerbjudanden:
  <% else %>
    specialerbjudande:
  <% end %>
  <ul>
  <% for parent in @product_type.parents.uniq %>
    <li><%= link_to h(parent.name), parent %></li>
  <% end %>
  </ul>
<% end %>
<% unless @product_type.children.size > 0 || @product_type.parents.uniq.size > 0 %>
  <p>Inga specialerbjudanden relaterade till denna varutyp.</p>
<% end %>

<p>
  <%= link_to t('.add_product_type_relation'), { :controller => :product_type_relations, :action => :new, :parent_id => @product_type.id} %>
</p>

<hr style="border: 1px"/>

-->

<p>
  &larr;
  <%= link_to t('All Product Types'), product_types_path %>
  <%= t('or') %>
  <%= link_to t('Edit'), edit_product_type_path(@product_type) %>
</p>