<h1>Editing cart_row</h1>

<% form_for(@cart_row) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => { :f => f } %> 
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @cart_row %> |
<%= link_to 'Back', cart_rows_path %>