<h1>Listing cart_rows</h1>

<table class="index_table">
  <tr>
    <th>Cart</th>
  </tr>

<% @cart_rows.each do |cart_row| %>
  <tr class="<%= cycle :odd, :even %>">
    <td><%=h cart_row.cart_id %></td>
    <td><%= link_to t('Show'), cart_row %></td>
    <td><%= link_to t('Edit'), edit_cart_row_path(cart_row) %></td>
    <td><%= link_to 'Destroy', cart_row, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New cart_row', new_cart_row_path %>