<h1><%= t('.title') %></h1>

<% form_tag session_path do -%>

  <ol>

    <p class="explanation"><%= t('.explanation') %></p>

    <li><%= label_tag 'login', t('Username') %>
    <%= text_field_tag 'login', @login %></li>

    <li><%= label_tag 'password', t('Password') %>
    <%= password_field_tag 'password', nil %></li>

    <!-- Uncomment this if you want this functionality
    <li><%= label_tag 'remember_me', t('Remember me') %>
    <%= check_box_tag 'remember_me', '1', @remember_me %></li>
    -->

    <li><%= submit_tag t('Log in') %></li>

  </ol>

<% end -%>
