<h1><%= t('Editing') %> product type relation</h1>

<% form_for(@product_type_relation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :parent_id %><br />
    <%= f.text_field :parent_id %>
  </p>
  <p>
    <%= f.label :child_id %><br />
    <%= f.text_field :child_id %>
  </p>
  <p>
    <%= f.submit t('Update') %>
  </p>
<% end %>

<%= link_to t('Show'), @product_type_relation %> |
&larr; <%= link_to t('Back'), product_type_relations_path %>