<h1>Listing product_type_relations</h1>

<table>
  <tr>
    <th>Parent</th>
    <th>Child</th>
  </tr>

<% @product_type_relations.each do |product_type_relation| %>
  <tr>
    <td><%=h product_type_relation.parent_id %></td>
    <td><%=h product_type_relation.child_id %></td>
    <td><%= link_to 'Show', product_type_relation %></td>
    <td><%= link_to 'Edit', edit_product_type_relation_path(product_type_relation) %></td>
    <td><%= link_to 'Destroy', product_type_relation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New product_type_relation', new_product_type_relation_path %>