<h1>New product_type_relation</h1>

<% form_for(@product_type_relation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :parent_id %><br />
    <%= f.text_field :parent_id %>
  </p>
  <p>
    <%= f.label :child_id %><br />
    <%= f.text_field :child_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', product_type_relations_path %>