<h1>New product type relation</h1>

<% form_for(@product_type_relation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :parent_id %><br />
    <%= f.collection_select :parent_id, ProductType.find(:all), :id, :name %>
  </p>
  <p>
    <%= f.label :child_id %><br />
    <%= f.collection_select :child_id, ProductType.find(:all), :id, :name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', product_type_relations_path %>