<h2><em><%=h @product_type_relation.child.name %></em> belongs to <em><%=h @product_type_relation.parent.name %></em></h2>

<p>
  <b>Parent:</b>
  <%=h @product_type_relation.parent.name %>
</p>

<p>
  <b>Child:</b>
  <%=h @product_type_relation.child.name %>
</p>


<%= link_to t('Edit'), edit_product_type_relation_path(@product_type_relation) %> |
&larr; <%= link_to t('Back'), product_type_relations_path %>