<marquee behavior="scroll" scrollamount="5" class="special_product">
KÖP NU! &nbsp; &nbsp;
<%= @special_product.name %>
&nbsp; &nbsp;
<%= number_to_currency @special_product.standard_price %>
</marquee>
<h1>Kioskens prislista:</h1>
<table class="index_table bigscreen">
	<thead></thead>
	<tbody>
		<% @product_categories.each do |product_category| %>
			<tr class="product_category" style="/*color: <%= h product_category.color %>*/">
				<td colspan="3">
					<%= product_category.name %>
				</td>
			</tr>
<% product_category.product_types.each do |product_type| %>
	<tr class="<%= cycle 'odd', 'even' %> <%= 'out_of_stock' unless product_type.in_stock? %> <%= 'special_product' if product_type.id == @special_product.id %>">
		<td class="name"><%= product_type.name %></td>
		<td class="standard_price"><%= number_to_currency product_type.standard_price, :precision => 0 %></td>
		<%-
			percent_left = product_type.percent_left
			logger.info "procent = #{percent_left}"
			quantity_color = 'rgba('
			quantity_color += (255 - (255 * percent_left)).to_i.to_s + ', '
			quantity_color += (255 * percent_left).to_i.to_s + ', '
			quantity_color += '75, 1)'
		-%>
		<td class="quantity_in_stock" style="color: <%= quantity_color %>;">
			<%- if product_type.in_stock? -%>
					<%= product_type.quantity_in_stock %> <span>i lager</span>
			<%- elsif product_type.quantity_delivered == 0 -%>
				
			<%- elsif product_type.quantity_in_stock == 0 -%>
				Slut
			<%- else -%>
				<%= product_type.quantity_in_stock %>
			<%- end -%>
		</td>
	</tr>
<% end %>
<% end %>
	</tbody>
</table>