<h1><%= t('.title') %></h1>
<h3><%= t('.sales_subtitle') %>:</h3>
<table class="statistics_table">
  <tr class="odd">
    <td><%= t('.bought_for') %></td>
    <td class="money"><%= number_to_currency @sum_of_all_in_registered %></td>
  </tr>
  <tr class="even">
    <td><%= t('.sold_for') %></td>
    <td class="money"><%= number_to_currency @sum_of_all_sold %></td>
  </tr>
  <tr class="odd sum">
    <td><%= t('.result') %>:</td>
    <td class="money <%= "negative" if @result < 0 %><%= "positive" if @result >= 0 %>">
      <%= number_to_currency @result %>
    </td>
  </tr>
  <tr class="even">
    <td><%= t('.if_we_sell_all') %></td>
    <td class="money <%= "negative" if @sum_of_total_profits < 0 %><%= "positive" if @sum_of_total_profits >= 0 %>">
      <%= "+" if @sum_of_total_profits > 0 %><%= number_to_currency @sum_of_total_profits %>
    </td>
  </tr>
  <!--
  <tr class="odd sum">
    <td><%= t('.to_break_even') %></td>
    <td class="money"><%= number_to_currency @money_to_break_even %></td>
  </tr>
  -->
</table>
<!--
<h3><%= t('.profit_subtitle') %>:</h3>
<table class="statistics_table">

  <tr class="odd">
    <td><%= t('.so_far') %></td>
    <td class="money <%= "negative" if @sum_of_sold_profits < 0 %><%= "positive" if @sum_of_sold_profits >= 0 %>">
      <%= number_to_currency @sum_of_sold_profits %>
    </td>
  </tr>
  <tr class="odd">
    <td><%= t('.if_we_sell_all') %></td>
    <td class="money <%= "negative" if @sum_of_total_profits < 0 %><%= "positive" if @sum_of_total_profits >= 0 %>">
      <%= "+" if @sum_of_total_profits > 0 %><%= number_to_currency @sum_of_total_profits %>
    </td>
  </tr>
</table>
-->

<%#= image_tag @chart.to_url %>

<h2><%= t('.chart_header')%></h2>

<div class="statistics_chart">
	<img src="<%= @hours_chart_img_url %>" id="statistics_chart_1" />
</div>

<div class="statistics_chart">
	<img src="<%= @products_hours_chart_img_url %>" id="statistics_chart_2" class="statistics_chart" />
</div>