<h1><%= @user.login %></h1>

<% unless @user.purchases.nil? %>
  <h3>
    <%= User.human_attribute_name('sold_for').capitalize %>
    <%= number_to_currency @user.sold_for %>:
  </h3>
  <ul>
    <% for purchase in @user.purchases %>
      <li><%= link_to "#{Purchase.human_name.capitalize} #{purchase.id}", purchase %></li>
    <% end %>
  </ul>  
<% end %>

<% unless @user.deliveries.nil? %>
  <h3>
    <%= User.human_attribute_name('has_delivered').capitalize %>
    <%= ProductType.human_name :count => @user.delivered_total_quantity %>:
  </h3>
  <ul>
    <% for delivery in @user.deliveries %>
      <li><%= link_to "#{t('delivery')} #{delivery.id}", delivery %>, <%= delivery.quantity %> x <%= delivery.product_type.name if delivery.product_type %></li>
    <% end %>
  </ul>
<% end %>

<h3><%= t('.credits', :money => number_to_currency (@user.sum_in_unpaid_credits)) %></h3>

<p></p>

<ul>
	<% for credit in @user.unpaid_credits %>
		<li>
			<!--<%= Credit.human_name.capitalize %> #<%= credit.id %>-->
			<%= link_to "#{Purchase.human_name.capitalize} #{credit.purchase.id}", credit.purchase %>
			(<%= number_to_currency credit.purchase.sum %>)
			<% if credit.paid? %>
				<!--BETALD-->
			<% else %>
				<!--EJ BETALD-->
				—
				<%= link_to "Godkänn betalning", { :controller => :credits, :action => :edit, :id => credit.id, :paid_to_user_id => current_user.id } %>
			<% end %>
		</li>
	<% end %>
</ul>

<h3><%= t('.other_subtitle') %>:</h3>

<% unless @user.bls_id.nil? %>
  <%= link_to "#{@user.login} på WinterGate", "http://lan.bignetwork.se/index.php?event=WG11&controller=user&action=show&id=#{@user.bls_id}" %>
<% end %>

<p>
  &larr; 
  <%= link_to "#{t('All users')}", users_path %>
  <% if current_user == @user %>
    <%= t('or') %>
    <%= link_to "#{t('Edit')} #{@user.login}", edit_user_path(@user) %>
  <% end %>
</p>