<h1><%= @user.login %></h1>

<% unless @user.purchases.nil? %>
  <h3><%= t('Sold for') %> <%= number_to_currency @user.sold_for %></h3>
  <ul>
    <% for purchase in @user.purchases %>
      <li><%= link_to "#{t('purchase')} #{purchase.id}", purchase %></li>
    <% end %>
  </ul>  
<% end %>

<% unless @user.deliveries.nil? %>
  <h3><%= t('Has delivered') %> <%= @user.delivered_total_quantity %> <%= t('products') %>:</h3>
  <ul>
    <% for delivery in @user.deliveries %>
      <li><%= link_to "#{t('delivery')} #{delivery.id}", delivery %></li>
    <% end %>
  </ul>
<% end %>

<% unless @user.bls_id.nil? %>
  <%= link_to 'Profil på WinterGate', "http://www.wintergate.se/index.php?controller=user&action=show&id=#{@user.bls_id}" %>
<% end %>