<h1><%= t('Editing') %> purchase</h1>

<% form_for(@purchase) do |f| %>
  <%= f.error_messages %>
  
  <%= render :partial => 'form', :locals => { :f => f } %> 

  <p>
    <%= f.submit t('Update') %>
  </p>
<% end %>

<%= link_to t('Show'), @purchase %> |
&larr; <%= link_to t('Back'), purchases_path %>