<h1>Listing purchases</h1>

<table class="index_table">
  <tr>
    <th><%= t('purchase') %>:</th>
    <th class="quantity">Items sold:</th>
    <th class="money"><%= t('purchase_attributes.sum') %>:</th>
    <th class="date">Purchased at:</th>
    <th>Came from Cart:</th>
  </tr>

<% @purchases.each do |purchase| %>
  <tr class="<%= cycle :odd, :even %>">
    <td><%= link_to "#{t('purchase')} #{purchase.id}", purchase %></td>
    <td class="quantity"><%= purchase.products.length %></td>
    <td class="money"><%= in_SEK purchase.sum %></td>
    <td class="date"><%= l purchase.created_at, :format => :short %></td>
    <td><%= link_to "Cart #{purchase.cart.id}", purchase.cart %></td>
    <td><%= link_to t('Edit'), edit_purchase_path(purchase) %></td>
    <td class="destroy"><%= link_to t('Destroy'), purchase, :confirm => t('Are you sure?'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New purchase', new_purchase_path %>