<h1><%= t('.title') %></h1>

<% if @purchases.empty? %>
  <p>
    <%= t('.no_purchases_made') %>
  </p>
<% else %>

  <table class="index_table">
    <tr>
      <th><%= Purchase.human_name.capitalize %>:</th>
      <th class="quantity"><%= t("Items sold") %>:</th>
      <th class="money"><%= t('purchase_attributes.sum') %>:</th>
      <th class="date"><%= Purchase.human_attribute_name(:created_at) %>:</th>
  <!--    <th><%= t('Came from Cart') %>:</th>-->
      <th><%= Purchase.human_attribute_name('user_id') %>:</th>
    </tr>

  <% @purchases.each do |purchase| %>
    <tr class="<%= cycle :odd, :even %>">
      <td><%= link_to "#{Purchase.human_name.capitalize} #{purchase.id}", purchase %></td>
      <td class="quantity"><%= purchase.products.size %></td>
      <td class="money"><%= number_to_currency purchase.sum %></td>
      <td class="date"><%= l purchase.created_at, :format => :short %>, <%= time_ago_in_words purchase.created_at %> sedan</td>
  <!--    <td><%= link_to "#{t('cart')} #{purchase.cart.id}", purchase.cart %></td>-->
      <td><%= link_to purchase.user.login, purchase.user unless purchase.user.nil? %></td>
      <td class="destroy"><%= link_to t('Undo'), purchase, :confirm => t('Are you sure?'), :method => :delete %></td>
    </tr>
  <% end %>
  </table>

<% end %>