<h1><%= t("Purchase") %> <%= @purchase.id %></h1>

<p>
  <%= t('Purchased at') %>: <%= l @purchase.created_at, :format => :long %>
</p>

<p>
  <%= t('Came from Cart') %> <%= link_to "#{t('cart')} #{@purchase.cart.id}", @purchase.cart %>.
</p>

<p>
  <%= t('sold_price_name') %>: <%= t("#{@purchase.price_name}_price") %>
</p>

<p>
  <%= Purchase.human_attribute_name('user_id') %>: <%= link_to @purchase.user.login, @purchase.user %>
</p>

<% if @purchase.products.blank? %>

<% else %>
  
  <h3><%= t('Products sold in this purchase') %>:</h3>
  
  <ul>
    <% for product in @purchase.products %>
      <li><%= link_to product.product_type.name, product %></li>
    <% end %>
  </ul>
  
<% end %>

<h3><%= t('.credit') %>:</h3>

<p>
	<% if @purchase.has_credit? %>
		<%= link_to h(@purchase.credit.user.login), @purchase.credit.user %> köpte denna på kredit.
		<% unless @purchase.credit.paid? %>
			<%= link_to "Godkänn kreditåterbetalning", { :controller => :credits, :action => :edit, :id => @purchase.credit.id, :paid_to_user_id => current_user.id } %>
			<%= t('or') %>
			<%= link_to t('.undo_credit'), @purchase.credit, :confirm => t('Are you sure?'), :method => :delete %>
		<% end %>
	<% else %>
		<%= link_to t('.add_credit'), { :controller => :credits, :action => :new, :purchase_id => @purchase.id } %>
	<% end %>
</p>

<p>
	&larr; <%= link_to t('All purchases'), purchases_path %> 
	<%= t('or') %>
	<%= link_to t('.undo'), @purchase, :confirm => t('Are you sure?'), :method => :delete %>
</p>