<h1>Purchase <%= @purchase.id %></h1>

Originated from <%= link_to "#{t('cart')} #{@purchase.cart.id}", @purchase.cart %>

<% if @purchase.products.empty? %>
  
<% else %>
  
  <h3>Sold in this purchase:</h3>
  
  <ul>
    <% for product in @purchase.products %>
      <li><%= link_to product.product_type.name, product %></li>
    <% end %>
  </ul>
  
<% end %>

&larr; <%= link_to t('Back'), purchases_path %> <%= t('or') %>
<%= link_to t('Edit'), edit_purchase_path(@purchase) %>