<h1><%= t("Purchase") %> <%= @purchase.id %></h1>

<p>
  <%= t('Purchased at') %>: <%= l @purchase.created_at, :format => :long %>
</p>

<p>
  <%= t('Came from Cart') %> <%= link_to "#{t('cart')} #{@purchase.cart.id}", @purchase.cart %>.
</p>

<p>
  <%= t('sold_price_name') %>: <%= t("#{@purchase.price_name}_price") %>
</p>

<p>
  <%= Purchase.human_attribute_name('user_id') %>: <%= link_to @purchase.user.login, @purchase.user %>
</p>

<% if @purchase.products.empty? %>
  
<% else %>
  
  <h3><%= t('Products sold in this purchase') %>:</h3>
  
  <ul>
    <% for product in @purchase.products %>
      <li><%= link_to product.product_type.name, product %></li>
    <% end %>
  </ul>
  
<% end %>

&larr; <%= link_to t('All purchases'), purchases_path %> 
<%= t('or') %>
<%= link_to t('.undo'), @purchase, :confirm => t('Are you sure?'), :method => :delete %>