<h1><%= t('Editing') %> delivery</h1>

<% form_for(@delivery) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => { :f => f } %> 

  <p>
    <%= f.submit t('Update') %>
  </p>
<% end %>

<%= link_to t('Show'), @delivery %> |
&larr; <%= link_to t('Back'), deliveries_path %>