<h1><%= t('.title') %></h1>

<% if @deliveries.empty? %>
  <p>
    <%= t('.no_deliveries_yet') %>
  </p>
<% else %>

  <table class="index_table">
    <tr>
      <th><%= t('delivery') %></th>
      <th><%= t('delivery_attributes.delivered') %>:</th>
      <th><%= Delivery.human_attribute_name('created_at')%><%#t('delivery_attributes.created_at') %>:</th>
      <th><%= Delivery.human_attribute_name('user_id') %>:</th>
    </tr>
  <% @deliveries.each do |delivery| %>
    <tr class="<%= cycle :odd, :even %>">
      <td><%= link_to "#{t('delivery')} #{delivery.id}", delivery %></td>
      <td>
        <%- if delivery.product_type.nil? -%>
          <%= t('.product_type_missing') %>
        <%- else -%>
          <%= delivery.quantity %> x <%= link_to delivery.product_type.name, delivery.product_type %>
        <%- end -%>
      </td>
      <td><%= l delivery.created_at, :format => :short %>, <%= time_ago_in_words delivery.created_at %> sedan</td>
      <td>
        <%= link_to delivery.user.login, delivery.user unless delivery.user.nil? %>
      </td>
      <td class="destroy"><%= link_to t('Destroy'), delivery, :confirm => t('Are you sure?'), :method => :delete %></td>
    </tr>
  <% end %>
  </table>
  
<% end %>

<br />

<%= link_to "#{t('New')} #{Delivery.human_name}", new_delivery_path %>