<h1><%= t('New delivery') %></h1>

<% form_for(@delivery) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => { :f => f } %> 

  <p>
    <%= f.submit t('Create') %>
  </p>
<% end %>

&larr; <%= link_to t('All deliveries'), deliveries_path %>