<h1><%= t('New delivery') %></h1>

<% form_for(@delivery) do |f| %>
  <%= f.error_messages %>

  <ol>

  <%= render :partial => 'form', :locals => { :f => f } %> 

  <li>
    <%= f.submit t('Create') %>
  </li>
  
  </ol>
  
<% end %>

&larr; <%= link_to t('All deliveries'), deliveries_path %>