<table id="cart_table">
  <tr class="headers">
    <th><%= ProductType.human_name.capitalize %>:</th>
<!--    <th class="quantity"><%= t('Quantity') %>:</th>-->
    <th class="money"><%= CartRow.human_attribute_name('price_each').capitalize %>:</th>
    <th class="money"><%= CartRow.human_attribute_name('sum').capitalize %>:</th>
    <th></th>
  </tr>
<% for cart_row in @cart.cart_rows %>
  <tr class="<%= cycle :odd, :even %>">
 <!--   <td class="quantity"></td>-->
    <td>
      <%- if cart_row.product_type.nil? -%>
        <%= t('.product_type_missing') %>
      <%- else -%>
        <%= cart_row.quantity %><span class="times"><%= t('times') %></span><%= link_to h(cart_row.product_type.name), cart_row.product_type %>
      <%- end -%>
    </td>
    <td class="money">
      <%- if cart_row.product_type.nil? -%>
        Error
      <%- else -%>
        <% if @cart.price_name == 'standard' %>
          <%= number_to_currency cart_row.product_type.standard_price %>
        <% elsif @cart.price_name == 'crew' %>
          <%= number_to_currency cart_row.product_type.crew_price %>
        <% end %>
      <%- end -%>
    </td>
    <td class="money">
      <%- if cart_row.product_type.nil? -%>
        Error
      <%- else -%>
        <%= number_to_currency cart_row.sum %>
      <%- end -%>
    </td>
    <td class="destroy">
      <%= link_to t('Destroy'), cart_row, :method => :delete %>
    </td>
  </tr>
<% end %>
  <tr class="sum">
    <td><%= ProductType.human_name(:count => @cart.total_quantity) %></td>
    <th></th>
    <td class="money">
      <%#= number_to_currency @cart.sum %>
    </td>
    <td></td>
  </tr>
</table>