<table id="cart_table">
  <tr class="headers">
    <th><%= t('cart_row_attributes.product_type') %>:</th>
<!--    <th class="quantity"><%= t('Quantity') %>:</th>-->
    <th class="money"><%= t('Price each') %>:</th>
    <th class="money"><%= t('cart_row_attributes.row_sum') %>:</th>
    <th></th>
  </tr>
<% for cart_row in @cart.cart_rows %>
  <tr class="<%= cycle :odd, :even %>">
 <!--   <td class="quantity"></td>-->
    <td>
      <%= cart_row.quantity %><span class="times"><%= t('times') %></span><%= link_to h(cart_row.product_type.name), cart_row.product_type %>
    </td>
    <td class="money"><%= number_to_currency cart_row.product_type.standard_price %></td>
    <td class="money"><%= number_to_currency cart_row.sum %></td>
    <td class="destroy"><%= link_to t('Destroy'), cart_row, :method => :delete %></td>
  </tr>
<% end %>
  <tr class="sum">
    <td><%= @cart.total_quantity %> <%= t('Products').downcase %></td>
    <th></th>
    <td class="money"><%= number_to_currency @cart.sum %></td>
    <td></td>
  </tr>
</table>