<h1><%= t('Editing') %> cart</h1>

<% form_for(@cart) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => { :f => f } %>

  <p>
    <%= f.submit t('Update') %>
  </p>
<% end %>

<%= link_to t('Show'), @cart %> |
&larr; <%= link_to t('Back'), carts_path %>