<h1><%= t('Listing carts') %></h1>

<table class="index_table">
  <tr>
    <th><%= t('cart') %>:</th>
    <th><%= t('cart_rows') %>:</th>
    <th><%= t('purchased') %>:</th>
  </tr>

<% @carts.each do |cart| %>
  <tr class="<%= cycle :odd, :even %>">
    <td><%= link_to "#{t('cart')} #{cart.id}", cart %></td>
    <td><%= cart.cart_rows.length unless cart.cart_rows.nil? %></td>
    <td><% if cart.purchase.nil? %><%= t('No') %><% else %><%= t('Yes') %>, <%= link_to "#{t('purchase')} #{cart.purchase.id}", cart.purchase %><% end %></td>
    <td class="edit"><%= link_to t('Edit'), edit_cart_path(cart) %></td>
    <td class="destroy"><%= link_to t('Destroy'), cart, :confirm => t('Are you sure?'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "#{t('New')} #{t('cart')}", new_cart_path %>