<h1>Listing carts</h1>

<table class="index_table">
  <tr>
    <th>Cart:</th>
  </tr>

<% @carts.each do |cart| %>
  <tr class="<%= cycle :odd, :even %>">
    <td><%= link_to "Cart #{cart.id}", cart %></td>
    <td><%= link_to 'Edit', edit_cart_path(cart) %></td>
    <td><%= link_to 'Destroy', cart, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New cart', new_cart_path %>