<h1><%= t('cart') %> <%= h @cart.id %></h1>

<h3>Products in cart:</h3>
<% if @cart.cart_rows.empty? %>
  <p>None.</p>
<% else %>
<%= render :partial => 'table', :locals => { :cart => @cart } %>

<% end %>

<h3>Purchase:</h3>
<% if @cart.purchase.nil? %>
  <p>Cart has not been purchased yet.</p>
<% else %>
  <p>
    Cart was purchased with <%= link_to "#{t('purchase')} #{@cart.purchase.id}", @cart.purchase %>.
  </p>
<% end %>

<!--

<% form_for(@cart_row) do |f| %>
  <h3>Add products to cart:</h3>
  <%= f.error_messages %>
  <%= render :partial => 'cart_rows/form', :locals => { :f => f } %>
  <p>
    <%= f.submit 'Add' %>
  </p>
<% end %>

<% form_for(@purchase) do |f| %>
  <h3>Purchase here when done:</h3>
  <%= f.hidden_field :cart_id, { :value => @cart.id } %>
  <p>
    <%= f.submit 'Purchase!' %>
  </p>
<% end %>

-->

<p>
&larr; <%= link_to t('Back'), carts_path %> <%= t('or') %>
<%= link_to t('Edit'), edit_cart_path(@cart) %>
</p>