<span class="name"><%= product_type.name %></span>

<span class="standard_price"><%- 
  if session[:price_name] == 'standard' 
    -%><%= number_to_currency product_type.standard_price %><%- 
  elsif session[:price_name] == 'crew' 
    -%><%= number_to_currency product_type.crew_price %><%- 
  end 
    -%></span>

<span class="quantity_in_stock"><%-
  if product_type.in_stock? 
    -%><%= product_type.quantity_in_stock %> i lager<%- 
  elsif product_type.quantity_in_stock == 0 
    -%>Slut<%-
  else
    -%><%= product_type.quantity_in_stock %><%- 
  end
    -%></span>