<div id="sales_products">
  <h2><%= t('.product_types_subtitle') %>:</h2>
  <ul id="product_types">
  <% for product_type in @product_types %>
    <%= render :partial => 'product_type', :locals => { :product_type => product_type, :cart => @cart} %>
  <% end %>
  </ul>

  <p>
    <%= t('.prices_for') %>:
    <%= link_to_if (session[:price_name] != 'standard'), t('.participants'), { :controller => :sales, :action => :index, :price => 'standard'} %>
    eller
    <%= link_to_if (session[:price_name] != 'crew'), t('.crew'), { :controller => :sales, :action => :index, :price => 'crew'} %>
  </p>
</div>

<div id="sales_cart">

<h2><%= t('.cart_subtitle') %>:</h2>

<%= render :partial => '/carts/table', :locals => { :cart => @cart } %>

<% form_for(@purchase) do |f| %>
  <%= f.error_messages %>

  <%#= render :partial => 'form', :locals => { :f => f } %> 

  <%= f.hidden_field :cart_id, { :value => @cart.id } %>

<!--
  <p>
    <label>
      <%#= f.radio_button :price_name, "standard", :checked => true %>
      Standard
    </label>
    <label>
      <%#= f.radio_button :price_name, "crew" %>
      Crew
    </label>
  </p>
-->

  <p>
    <%= f.submit t('Buy') %>
  </p>
<% end %>

</div>