<ul id="warehouse_menu">
  <li><%= link_to t('carts'), carts_url %></li>
  <li><%= link_to t('products'), products_url %></li>
  <li><%= link_to t('purchases'), purchases_url %></li>
  <li><%= link_to t('product_type_relations'), product_type_relations_url %></li>
  <li><%= link_to t('cart_rows'), cart_rows_url %></li>
</ul>