<ul id="menu">
    <li><%= menu_item t('menu.sales'), sales_url %></li>
<!--<li><%= menu_item t('menu.warehouse'), product_types_url %></li>-->
    <li><%= menu_item t('menu.product_types'), product_types_url %></li>
    <li><%= menu_item t('menu.deliveries'), deliveries_url %></li>
    <li><%= menu_item t('menu.history'), purchases_url %></li>
<!--<li><%= menu_item t('menu.administration'), products_url %></li>-->
    <li><%= menu_item t('menu.statistics'), statistics_url %></li>
    <li><%= menu_item t('menu.users'), users_url %></li>
</ul>