<ul id="menu">
    <li><%= menu_item t('sales'), sales_url %></li>
    <li><%= menu_item t('warehouse'), product_types_url %></li>
    <li><%= menu_item t('purchases'), purchases_url %></li>
<!--<li><%= menu_item t('administration'), products_url %></li>-->
    <li><%= menu_item t('statistics'), statistics_url %></li>
</ul>