<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name.titleize %> - <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'master' %>
</head>
<body>

<div id="container">

<h2 id="logo"><%= link_to 'Bignetwork Bong System', root_url %></h2>

<%= render :partial => 'layouts/menu' %>
<% if controller.controller_name == 'sales' %>
<% elsif controller.controller_name == 'product_types' || controller.controller_name == 'deliveries' %>
<%= render :partial => 'layouts/warehouse_menu' %>
<% elsif controller.controller_name == 'statistics' %>
<% else %>
<%= render :partial => 'layouts/administration_menu' %>
<% end %>

<div id="page">

<%- [:error, :warning, :notice, :message].each do |key| -%>
  <%= content_tag :div, flash[key], :class => 'flash', :id => key if flash[key] %>
<%- end -%>

<%= yield %>

</div>

<div id="footer">
  <ul id="footer_menu"></ul>
</div>

</div>

</body>
</html>
