<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>BBS - <%= t("#{controller.controller_name}") %> - <%= t("#{controller.action_name.titleize}") %></title>
  <%= stylesheet_link_tag 'master' %>
  <%= javascript_include_tag :all, :cache => true %>
</head>
<body>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1928824-8']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
  })();

</script>

<div id="container">

<h2 id="logo"><%= link_to 'Bignetwork Bong System', root_url %></h2>

<%= render :partial => 'layouts/menu' %>
<% if controller.controller_name == 'sales' || controller.controller_name == 'purchases' %>
  <!-- SHOW NO SUB MENU -->
<% elsif controller.controller_name == 'product_types' || controller.controller_name == 'deliveries' %>
  <%= render :partial => 'layouts/warehouse_menu' %>
<% elsif controller.controller_name == 'statistics' %>
<% elsif controller.controller_name == 'cart_rows' %>
  <%= render :partial => 'layouts/administration_menu' %>
<% else %>
<% end %>

<div id="page">

<%- [:error, :warning, :notice, :message].each do |key| -%>
  <% if flash[key] %>
    <% content_tag :div, flash[key], :class => 'flash', :id => key do %>
      <%= flash[key] %>
      <%= link_to t('Hide'), "#", { :class => 'hide', :onclick => "$('#{key}').fade({ duration: 0.5 }); return false;"} %>
    <% end %>
  <% end %>
<%- end -%>

<%= yield %>

</div>

<div id="footer">
  <ul id="footer_menu"></ul>
  <% if logged_in? %>
    <%= t('Logged in as') %> <%= link_to current_user.login, current_user %>,
    <%= link_to t('Logout'), logout_path %>
  <% else %>
    <%= link_to t('Login'), login_path %>
  <% end %>
</div>

</div>

</body>
</html>
